<a href="https://colab.research.google.com/github/SavannahY/Data-Science-Essencial/blob/master/ESE542_hw2_problem6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

## (a) estimates of sample mean and sample variance

In [16]:
import numpy as np
import pandas as pd

In [8]:
path = 'gdrive/My Drive/ESE542/data_HW2.csv'
df = pd.read_csv(path, names = ['value'])

In [9]:
df.head()

       value
0   1.318862
1   8.910563
2  15.255239
3   5.982215
4   6.385356

In [12]:
mean = df.sum()/len(df)
print('mean = ', mean)
variance = np.sum(np.square(df-mean))/len(df)
print('variance = ', variance)

mean =  value    4.234069
dtype: float64
variance =  value    18.185304
dtype: float64

In [15]:
numpy_mean = np.mean(df)
print('numpy_mean = ', numpy_mean)
numpy_variance = np.var(df)
print('numpy_variance = ',numpy_variance)

numpy_mean =  value    4.234069
dtype: float64
numpy_variance =  value    18.185304
dtype: float64

## (b) standard deviation 0.25, compute 90% interval for the population mean

In [17]:
import scipy.stats as st

In [23]:
a,b =st.t.interval(0.9, len(df)-1, loc= mean, scale = 0.25)
print('a = ',a,'b = ',b)

a =  [3.82132021] b =  [4.64681829]

Confidence interval with equal areas around the median.

Parameters

alpha : array_like of float
    Probability that an rv will be drawn from the returned range.
    Each value should be in the range [0, 1].
arg1, arg2, ... : array_like
    The shape parameter(s) for the distribution (see docstring of the
    instance object for more information).
loc : array_like, optional
    location parameter, Default is 0.
scale : array_like, optional
    scale parameter, Default is 1.

Returns

a, b : ndarray of float
    end-points of range that contain 100 * alpha % of the rv's
    possible values.